$login-page-bg:#aaa;
$gray-font:#999;
$white-font:#fff;
$black-font:#000;
$s-text:12px;

@mixin contentWidth($width){
  width: $width;
  margin: 1px auto;
}

@mixin sText(){
  font-size: 12px;
  line-height: 24px;
}
@mixin mText(){
  font-size: 16px;
  line-height: 32px;
}
@mixin lText(){
  font-size: 20px;
  line-height: 40px;
}
@mixin widthPosition($position,$zIndex){
  width:100%;
  height:500px;
  position: $position;
  z-index: $zIndex;
}

.login-page-bg{
  width: 100%;
  height: 975px;
  background: $login-page-bg no-repeat center;
}
.login-box{
  width: 520px;
  height: 540px;
  background: rgba(255,255,255,0.85);
  border-radius: 6px;
  margin: 215px auto;

  .transparent-black{
    @include widthPosition(absolute,2);
    background: rgba(0,0,0,0.2);
  }
}


